{% load static %}
<!doctype html>
<html lang='en'>
    <head>
        <title>Download</title>
        {% if error %}
        <script>
            alert('{{error}}')
        </script>
    {% endif %}
    </head>
    <body class=lg_body>
        <div>
            {% include 'navigation_bar_user.html' %}
            <div class='content'>
                <div class='content'>
                <div>
                    <h2 style='margin-left: 8%' ;><b>Download</b></h2>
                </div>

                <div class='data-card data' style=' display: flex; flex-direction: column;flex-wrap: wrap;'>
                <div>
                    <h2 align='Left'><b>Download Details</b></h2>
                </div>
                <form method='post' enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div  style='display: flex; align-items: center; padding-bottom: 1%;'>
                        <label for='month'>Month: &emsp;</label>
                        <select id='Months' name = 'month'>
                            <option value='January'>January</option>
                            <option value='February'>February</option>
                            <option value='March'>March</option>
                            <option value='April'>April</option>
                            <option value='May'>May</option>
                            <option value='June'>June</option>
                            <option value='July'>July</option>
                            <option value='August'>August</option>
                            <option value='September'>September</option>
                            <option value='October'>October</option>
                            <option value='November'>November</option>
                            <option value='December'>December</option>
                        </select>
                    </div>
                    <div style='padding-bottom: 3%; display: flex; align-items: center; '>
                        <label for='year'> Year: &emsp;</label>
                        <select id='year' name='year'></select>
                        <script>
                            const yearSelect = document.getElementById('year');
                            const currentYear = new Date().getFullYear();
                            for (let year = currentYear; year >= 2000; year--)
                            {
                                const option = document.createElement('option');
                                option.value = year;
                                option.text = year;
                                yearSelect.appendChild(option);
                            }
                        </script>
                    </div>
                    <br>
                    <div align='center'>
                    <button type='submit' class='btn btn-animation-1' style='display: flex; align-items: center; text-decoration: none; padding: 3.5%; text-align: center;'>
                        <img src='{% static 'SalarySlip/image/Download.svg' %}' style='width: 20%;' class='nav_icon' alt='icon'>&ensp;Download&ensp;&ensp;
                    </button>
                    </div>
                </form>
            </div>

                <section class='base-cards' style='display: flex; padding-bottom: 0%;'>
                    <div class='card2'>
                        <h3>Last Log-in</h3>
                        <p style='font-size: 125%;'>Date: <span style='font-size: 2.5em;'>20/03/23</span></p>
                        <p><span style=' font-size: 125%'>XXX</span> <span color: black;>Before</span></p>
                    </div>

                    <div class='card2'>
                        <h3>Total Devices</h3>
                        <p style='font-size: 125%;'> <span style='font-size: 2.5em;'>4 Devices</span></p>
                        <p><span style=' font-size: 125%'>XXX</span> <span color: black;>New Device</span></p>
                    </div>

                    <div class='misc-card'>
                        <p><img src='{% static 'SalarySlip/image/misc.png' %}' align='right' style='max-width: 90%;'></p>
                    </div>
                </section>
            </div>
        </div>
    </body>