{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body class="lg_body">
    {% include 'navigation_bar.html' %}
    <div class='content'>
        <div>
            <h2 style='margin-left: 8%; ;'>
                <button class="round-button">
                    <a href="\view"><div class="back-arrow"></div></a>
                </button>
                <b style="vertical-align: -webkit-baseline-middle;">Excel View</b>
            </h2>
        </div>
        <div>
            {% if excel_data_html %}
            <div class="card2" style="display: inline-table;">
                {{ excel_data_html | safe }}
            </div>
            {% else %}
            <p>No data available for the selected month and year.</p>
            {% endif %}
        </div>
    </div>
</body>