{% load static %}
<html lang='en'>
    <head>
        <title>Help</title>
    </head>
    <body class=lg_body>
        {% include 'navigation_bar.html' %}
        <div class='content'>
            <div>
                <h2 style='margin-left: 8%' ;><b>Help Section</b></h2>
            </div>

            <div class='data-card'>
                
                <div class='data'>
                    Dev1: <span><b>Hemant Kant Pushpam</b></span><br>
                    Dev1: <span><b>Bhaskar Lal Das</b> </span><br>
                    ID: <span><b> XXX, XXX </b></span><br>
                    E-Mail: <span><b> bld@hpk.com </b></span><br>
                </div>
            </div>      
        </div>
    </body>
</html>