{% load static %}
<link rel='stylesheet' type='text/css' href='/static/SalarySlip/css/style.css'>
  <div>
        <nav>

        <div class='nit'>
            <img src='https://www.nitap.ac.in/assets/logo_big.jpg' alt='NITAP Logo' class='nit_logo'><span>National
                Institute
                Of Technology, <span style='font-size: 90%;'> Arunachal Pradesh</span></span>
        </div>
        
        <div>
            <div class='l1'>
                <ul>
                    <li> <a href='/dashboard' class='btn btn-white btn-animation-1' id='dashboard' style='display: flex; flex-direction: roW; align-items: center;'>
                        <img src='{% static 'SalarySlip/image/Dash.svg' %}' class='nav_icon' alt='icon'>Dashboard</a> </li>
                    <li> <a href='monthlyview'  class='btn btn-white btn-animation-1' id='monthlyview' style='display: flex; flex-direction: roW; align-items: center;'>
                        <img src='{% static 'SalarySlip/image/chart.svg' %}' class='nav_icon'  alt='icon'>Monthly Reports</a> </li>
                    <li> <a href='/download' class='btn btn-white btn-animation-1' id='download' style='display: flex; flex-direction: roW; align-items: center;'>
                        <img src='{% static 'SalarySlip/image/Download.svg' %}' class='nav_icon' alt='icon'>Download</a> </li>
                </ul>
            </div>
            <div class='l2'>
                <ul>
                    <li> <a href='/changepassword' class='btn btn-white btn-animation-1' style='display: flex; flex-direction: roW; align-items: center;'>
                        <img src='{% static 'SalarySlip/image/log_out.svg' %}' class='nav_icon' alt='icon'>Change Password</a> </li>
                    <li> <a href='/logout' class='btn btn-white btn-animation-1' style='display: flex; flex-direction: roW; align-items: center;'>
                        <img src='{% static 'SalarySlip/image/log_out.svg' %}' class='nav_icon' alt='icon'>Log Out</a> </li>
                    <li> <a href='help' class='btn btn-white btn-animation-1' id='help' style='display: flex; flex-direction: roW; align-items: center;'>
                        <img src='{% static 'SalarySlip/image/help.svg' %}' class='nav_icon' alt='icon'>Help</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
